
* {
    box-sizing: border-box;
    line-height: 1;
}

.header {
    padding: 13px 0;
    min-height: 80px;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header .container .pages {
    display: flex;
    flex-direction: row;
}

.pages h2 {
    font-family: 'Tourney', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
}

.pages a, .pages span {
    font-family: 'Staatliches', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
}

.pages span {
    margin-right: 10px;
}

.header .container .pages a:visited {
    color: #000000;
}

.header .container .icon {
    width: 238px;
    height: 54px;
}

main {
    padding: 70px 20px 90px;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
    color: #000000;
    padding: 70px 5px;
}

.chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapters li:not(:last-child) {
    margin-bottom: 70px;
}

.chapters li .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}

.title h2 {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-right: 10px;
    letter-spacing: 0.04em;
}

.title p {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
}

.info, .core-concepts {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.core-concepts li:not(:last-child) {
    margin-bottom: 40px;
}

.italic-span {
    font-style: italic;
}

.bold-span {
    font-weight: 700;
}

.bg-span {
    background-color: #DADADA;
    width: fit-content;
}

.underline-span {
    text-decoration: underline;
}

.info:not(:last-child) {
    margin-bottom: 40px;
}

@media only screen and (max-width: 992px) {
    .header .container {
        flex-direction: column-reverse;
    }

    .pages h2 {
        margin-right: 25px;
    }

    .header .container .icon {
        margin-bottom: 20px;
    }

    main {
        padding: 30px 10px 40px;
    }

    main .container {
        padding: 30px 5px;
    }

    .chapters li:not(:last-child) {
        margin-bottom: 40px;
    }
    
    .chapters li .title {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .title h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .title p {
        font-size: 16px;
    }

    .info, .core-concepts {
        font-size: 18px;
        line-height: 30px;
    }
    
    .core-concepts li:not(:last-child) {
        margin-bottom: 20px;
    }

    .info:not(:last-child) {
        margin-bottom: 20px;
    }
}




    