
* {
    box-sizing: border-box;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.header .container {
    display: flex;
    align-items: center;
    margin-top: 13px;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}
.header .container nav {
    display: flex;
    flex-direction: row;
}
.header .container nav h2 {
    font-family: 'Tourney', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
}
.header .container nav a {
    font-family: 'Staatliches', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
}
.header .container nav a:not(:last-child) {
    margin-right: 10px;
}
.header .container nav a:visited {
    color: #000000;
}
.header .container nav a:hover {
    color: red;
}
main .container {
    max-width: 1200px;
    margin: 0 auto;
    color: #000000;
    padding-bottom: 90px;
}
.chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapters li:not(:last-child) {
    margin-bottom: 70px;
}
.chapters li .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}
.title h2 {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-right: 10px;
    letter-spacing: 0.04em;
}
.title p {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
}
.info, .core-concepts {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}
.core-concepts li:not(:last-child) {
    margin-bottom: 40px;
}
.italic-span {
    font-style: italic;
}
.bold-span {
    font-weight: 700;
}
.info:not(:last-child) {
    margin-bottom: 40px;
}



    